<md-dialog aria-label="Nuevo Examen" layout="column">
    <md-dialog-content class="sticky-container">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Titulo</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <form name="titleForm" novalidate>
            <md-input-container flex>
                <label>Nombre</label>
                <input ng-model="title.name" required name="name" input-text>
                <div ng-messages="titleForm.name.$error" ng-if="titleForm.name.$dirty">
                    <div ng-message="required">*Campo obligatorio</div>
                    <div ng-message="inputText">*Campo obligatorio</div>
                </div>
            </md-input-container>
            <md-autocomplete flex required
            md-selected-item-change="null"
              md-search-text-change="null"
            md-input-name="autocompleteField"
            md-no-cache="true"
            md-selected-item="selectedAnalisys"
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.name"
            md-floating-label="Analisis">
              <md-item-template>
                <span md-highlight-text="searchText">{{item.name}}</span>
              </md-item-template>
              <div ng-messages="titleForm.autocompleteField.$error" ng-if="titleForm.autocompleteField.$touched">
                <div ng-message="required"><b>Debe</b> escoger un analisis</div>
              </div>
          </md-autocomplete>
          <div layout="row">
            <md-checkbox ng-model="title.visible" aria-label="Checkbox 1">
                Visible
            </md-checkbox>
            <md-checkbox ng-model="title.selectable" aria-label="Checkbox 1">
                Elegible
            </md-checkbox>
            <md-checkbox ng-model="title.active" aria-label="Checkbox 1">
                Activo
            </md-checkbox>
          </div>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button class="md-primary" ng-click="save()" ng-disabled="titleForm.$invalid" type="submit">
                    Guardar
                </md-button>
                <md-button ng-click="cancel()">
                    Cancelar
                </md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
