<md-dialog aria-label="Nuevo analisis" layout="column">
    <md-dialog-content class="sticky-container">
     
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Analisis</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <div layout="column">
        <form name="newAnalisysForm" novalidate>
          <div layout="column">
            <md-input-container flex>
                <label>Nombre</label>
                <input ng-model="analisys.name" required name="name" analisys input-text>
                <div ng-messages="newAnalisysForm.name.$error" ng-if="newAnalisysForm.name.$dirty">
                    <div ng-message="required">*Campo obligatorio</div>
                    <div ng-message="inputText">*Ingrese solo texto</div>
                    <div ng-message="duplicated">*El analisis ya fue registrada</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Descripcion</label>
                <textarea ng-model="analisys.description" name="description"></textarea>
            </md-input-container>
            <md-autocomplete flex required
            md-selected-item-change="null"
              md-search-text-change="null"
            md-input-name="autocompleteField"
            md-no-cache="true"
            md-selected-item="selectedLab"
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.name"
            md-floating-label="Laboratorio">
              <md-item-template>
                <span md-highlight-text="searchText">{{item.name}}</span>
              </md-item-template>
              <div ng-messages="newAnalisysForm.autocompleteField.$error" ng-if="newAnalisysForm.autocompleteField.$touched">
                <div ng-message="required"><b>Debe</b> escoger un laboratorio</div>
              </div>
          </md-autocomplete>

          <md-autocomplete flex required
            md-selected-item-change="null"
              md-search-text-change="null"
            md-input-name="autocompleteFieldArea"
            md-no-cache="true"
            md-selected-item="selectedArea"
            md-search-text="searchTextArea"
            md-items="item in querySearchArea(searchTextArea)"
            md-item-text="item.name"
            md-floating-label="Area">
              <md-item-template>
                <span md-highlight-text="searchTextArea">{{item.name}}</span>
              </md-item-template>
              <div ng-messages="newAnalisysForm.autocompleteFieldArea.$error" ng-if="newAnalisysForm.autocompleteFieldArea.$touched">
                <div ng-message="required"><b>Debe</b> escoger un area</div>
              </div>
          </md-autocomplete>

          <div layout="row">
            <md-checkbox ng-model="analisys.visible" aria-label="Checkbox 1">
                Visible
            </md-checkbox>
            <md-checkbox ng-model="analisys.selectable" aria-label="Checkbox 1">
                Elegible
            </md-checkbox>
            <md-checkbox ng-model="analisys.active" aria-label="Checkbox 1">
                Activo
            </md-checkbox>
          </div>
          </div>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button class="md-primary" ng-click="save()" ng-disabled="newAnalisysForm.$invalid" type="submit">
                    Guardar
                </md-button>
                <md-button ng-click="cancel()">
                    Cancelar
                </md-button>
            </div>
        </form>
      </div>
    </md-dialog-content>
</md-dialog>
