<md-dialog aria-label="Nuevo examen" class="md-large-large-dialog">
    <form name="newExamForm" novalidate layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Examen</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content class="sticky-container">
          <div layout="row">
            <md-checkbox ng-model="examSet.visible" aria-label="Checkbox 1">
                Visible
            </md-checkbox>
            <md-checkbox ng-model="examSet.selectable" aria-label="Checkbox 1">
                Elegible
            </md-checkbox>
            <md-checkbox ng-model="examSet.active" aria-label="Checkbox 1">
                Activo
            </md-checkbox>
          </div>
          <md-autocomplete flex required
                md-selected-item-change="null"
                  md-search-text-change="null"
                name="autocompleteField"
                md-no-cache="true"
                md-selected-item="selectedTitle"
                md-search-text="searchText"
                md-items="item in querySearch(searchText)"
                md-item-text="item.name"
                md-floating-label="Titulo">
                  <md-item-template>
                    <span md-highlight-text="searchText">{{item.value}}</span>
                  </md-item-template>
                  <div ng-messages="newExamForm.autocompleteField.$error" ng-if="newExamForm.autocompleteField.$touched">
                    <div ng-message="required"><b>Debe</b> escoger un titulo</div>
                  </div>
            </md-autocomplete>
          <md-list flex style="padding:20px;">
                <md-subheader class="md-no-sticky">Lista de examenes</md-subheader>    
                    <md-list-item ng-repeat="ex in examSet.exams" class="md-3-line">
                      <div class="md-list-item-text">
                          <h3>{{ex.name|truncate:15}}</h3>
                      </div>
                        <i class="md-secondary fa fa-trash" ng-click="deleteExam($index)" aria-label="Chat"></i>
                    </md-list-item>
          </md-list>


          <div layout="row">
          <div layout="column">
            <md-input-container flex>
                    <label>Nombre</label>
                    <input ng-model="exam.name" required name="name">
                    <div ng-messages="newExamForm.name.$error" ng-if="newExamForm.name.$dirty">
                        <div ng-message="required">*Campo obligatorio</div>
                        <div ng-message="inputText">*Ingrese solo letras</div>
                    </div>
            </md-input-container>
            <md-select placeholder="Unidad de medida" ng-model="exam.measure" flex>
                    <md-option ng-repeat="measure in measures" value="{{measure._id}}">{{measure.symbol}}</md-option>
            </md-select>
          </div>
          <div layout="column" flex>
                  <div layout="row">
                    <md-select placeholder="Genero" ng-model="gender">
                      <md-option ng-repeat="gender in genders" ng-value="gender">{{gender}}</md-option>
                    </md-select>
                    <md-select placeholder="Tipo de rango" ng-model="selectedType" ng-change="  typeChange()">
                        <md-option ng-repeat="tEva in typeEvaluations" ng-value="tEva">{{tEva.name}}</md-option>
                    </md-select>
                  </div>
                  <md-input-container ng-repeat="field in selectedType.fields">
                      <label>{{field}}</label>
                      <input ng-model="fields[$index]" required/>
                  </md-input-container>
                  <md-button class="md-primary" ng-click="saveRange()" ng-disabled="newExamForm.newRangeName.$invalid">
                    &ensp;Agregar&ensp;&ensp;<span class="ion-chevron-right"></span>
                  </md-button>
                <md-list flex style="padding:20px;">
                <md-subheader class="md-no-sticky">Lista de rangos</md-subheader>    
                    <md-list-item ng-repeat="range in exam.ranges" class="md-3-line">
                      <div class="md-list-item-text">
                          <h3>{{range.name|truncate:15}}</h3>
                          <h4>{{range.typeName}}</h4>
                          <p><span ng-repeat="field in range.fields">{{field.name}}: {{field.value}}&ensp;</span></p>
                      </div>
                        <i class="md-secondary fa fa-trash" ng-click="deleteRange($index)" aria-label="Chat"></i>
                    </md-list-item>
              </md-list>
          </div>
        </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="save()" ng-disabled="newExamForm.name.$invalid" type="submit">
                Guardar
            </md-button>
            <md-button class="md-primary" ng-click="saveSet()"  type="submit">
                Guardar Conjunto
            </md-button>
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
        </div>
    </form>
</md-dialog>
