<md-dialog aria-label="Nueva area" layout="column">
    <form name="newRolForm" novalidate layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{rol? '':'Nuevo'}} Rol</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content class="sticky-container">
            <md-input-container flex>
                <label>Nombre</label>
                <input ng-model="rol.name" required name="name" ng-change="validate()" rol input-text>
                <div ng-messages="newRolForm.name.$error" ng-if="newRolForm.name.$dirty">
                    <div ng-message="required">*Campo obligatorio</div>
                    <div ng-message='duplicated'>*El rol ya existe</div>
                    <div ng-message="inputText">*Ingrese solo letras</div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="save()" ng-disabled="newRolForm.$invalid" type="submit">
                Guardar
            </md-button>
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
        </div>
    </form>
</md-dialog>
