<md-dialog aria-label="Nueva area" layout="column">
    <form name="newAreaForm" novalidate layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nueva area</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content class="sticky-container">
          
            <md-input-container flex>
                <label>Nombre</label>
                <input ng-model="area.name" required name="name" input-text area>
                <div ng-messages="newAreaForm.name.$error" ng-if="newAreaForm.name.$dirty">
                    <div ng-message="required">*Campo obligatorio</div>
                    <div ng-message="inputText">*Ingrese solo texto</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Descripcion</label>
                <input ng-model="area.description" name="description">
            </md-input-container>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button class="md-primary" ng-click="save()" ng-disabled="newAreaForm.$invalid" type="submit">
                    Guardar
                </md-button>
                <md-button ng-click="cancel()">
                    Cancelar
                </md-button>
            </div>
        </form>
</md-dialog>
