<md-dialog aria-label="Nueva atention" layout="column">
    <form name="newAttentionForm" novalidate layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Tipo de atencion</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content class="sticky-container">
            <md-input-container flex>
                <label>Nombre</label>
                <input ng-model="attention.name" required name="name" attention input-text>
                <div ng-messages="newAttentionForm.name.$error">
                    <div ng-message="required">*Campo obligatorio</div>
                    <div ng-message='duplicated'>*El nombre ya existe</div>
                    <div ng-message="inputText">*Ingrese solo letras</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Descripcion</label>
                <textarea ng-model="attention.description" name="description"></textarea>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="save()" ng-disabled="newAttentionForm.$invalid" type="submit">
                Guardar
            </md-button>
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
        </div>
    </form>
</md-dialog>
