<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Unidades de medida</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div>
    <div class="main-fab">
        <md-button class="md-fab md-accent" ng-click="showAddNew($event)" aria-label="Agregar">
            <i class="fa fa-plus"></i>
        </md-button>
    </div>
    <div class="sub-content">
        <md-input-container>
          <label>Buscar Unidad de medida </label>
          <input ng-model="searchText" ng-change="search()">
        </md-input-container>
        <div class="table-responsive-vertical shadow-z-1 center-table">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                <tr>
                    <th ng-repeat="h in headers" class="md-table-header">
                        {{h}}</th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="measure in measures| itemsPerPage: perPage" class="md-table-content-row" ng-click="show(measure, $event)" total-items="measuresCount.count">
                    <td data-title="Simbolo">{{ measure.symbol}}</td>
                    <td data-title="Nombre">{{ measure.name }}</td>
                    <td data-title="">
                        <md-button class="md-icon-button" flex  aria-label="Borrar" ng-click="delete(measure,$event)">
                            <i class="fa fa-trash"></i>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div layout="row">
            <md-input-container>
                <label>Items</label>
                <input ng-model="perPage">
            </md-input-container>
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
            <span></span>
            <md-button class="md-icon" aria-label="Ver todo" ng-click="showAll()">
                <i class="fa fa-eye"></i>
            </md-button>
            <md-button class="md-icon" ng-click="print()" aria-label="Imprimir">
                      <i class="fa fa-print"></i>
            </md-button>
        </div>
    </div>
</div>
