
<form name="newStudyForm" novalidate layout="column">

  <md-whiteframe class="md-whiteframe-z1" layout="column">
        <md-content class="md-padding" id="general">
          <div layout="row">
            <md-input-container flex>
              <label>Nro. Factura</label>
              <input ng-model="study.bill"  name="bill" input-numeric ng-keyup="$event.keyCode == 13 && searchBill($event)">
              <div ng-messages="newStudyForm.bill.$error" ng-if="newStudyForm.bill.$dirty">
                      <div ng-message="inputNumeric">*Ingrese solo numeros</div>
              </div>
            </md-input-container>
            <md-progress-circular  md-diameter="20" md-mode="{{waiting}}"></md-progress-circular>
            <md-input-container flex ng-if="isBioquimic">
              <label>Codigo</label>
              <input ng-model="study.dailyCode"  name="dailyCode" daily-study date="{{creationDate.toString()}}">
              <div ng-messages="newStudyForm.dailyCode.$error" ng-if="newStudyForm.dailyCode.$dirty">
                  <div ng-message="duplicated">*El estudio ya fue programado en la fecha indicada</div>
              </div>
            </md-input-container>
            <md-input-container flex>
                  <label>Fecha</label>
                  <input ng-model="creationDate"  name="creationDate" type="date">
            </md-input-container>
          </div>
          <div layout="row">
                  <div ng-show="existingPatient || isExistingStudy">
                      <b>Paciente</b>: {{patient.lastName}} {{patient.lastNameMother}} {{patient.name}}
                  </div>
                  <div layout="row" ng-hide="existingPatient || isExistingStudy">
                      <md-autocomplete
                              md-search-text-change="null"
                              md-no-cache="noCache"
                              md-selected-item="selectedItem"
                              md-search-text="searchText"
                              md-selected-item-change="selectedItemChange(item)"
                              md-items="item in querySearch(searchText)"
                              md-item-text="item.fullName"
                              md-min-length="0"
                              placeholder="Paciente"
                              md-floating-label="Paciente"
                              md-menu-class="autocomplete-custom-template">
                          <md-item-template>
                          <span class="item-title">
                              <span> {{item.fullName}} {{item.ci}}</span>
                          </span>
                          <span class="item-metadata">
                              <span class="item-metastat">
                                  <strong>{{item.value}}</strong>
                              </span>
                          </span>
                          </md-item-template>
                      </md-autocomplete>
                      <!--md-button class="md-icon-button" flex  aria-label="Nuevo" ng-click="createNewPatient($event)" ng-if="isBioquimic">
                          <i class="fa fa-plus"></i>
                      </md-button-->
                  </div>
                  <div flex layout="row">
                    <div ng-show="existingDoctor ||isExistingStudy || isDoctor">
                        <span></span><b>Doctor</b>:{{selectedDoctor.lastName}} {{selectedDoctor.name}}
                    </div>
                    <div layout="row" ng-if="isBioquimic" >
                        <md-autocomplete
                                md-search-text-change="null"
                                md-selected-item="selectedDoctor"
                                md-search-text="searchDoctorText"
                                md-selected-item-change="selectedDoctorChange(selectedDoctor)"
                                md-items="item in queryDoctors(searchDoctorText)"
                                md-item-text="item.value"
                                md-min-length="0"
                                placeholder="Doctor"
                                md-floating-label="Doctor"
                                md-menu-class="autocomplete-custom-template">
                            <md-item-template>
                            <span class="item-title">
                                <span> {{item.value}}</span>
                            </span>
                            <span class="item-metadata">
                                <span class="item-metastat">
                                    <strong>{{item.enrolment}}</strong>
                                </span>
                            </span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-button type="button" class="md-icon-button" flex  aria-label="Nuevo" ng-click="createNewDoctor($event)">
                            <i class="fa fa-plus"></i>
                        </md-button>
                      </div>
                  </div>
              </div>
              <div layout="row">
                <md-select placeholder="Atencion" ng-model="selectedAttention" flex ng-change="changeAttention()">
                    <md-option ng-repeat="attention in attentions" value="{{attention}}">{{attention.name}}</md-option>
                </md-select>
                <md-select placeholder="Servicio" ng-model="selectedService" flex>
                    <md-option ng-repeat="service in services" value="{{service}}">{{service.name}}</md-option>
                </md-select>
                <div  layout="row">
                    <md-input-container flex>
                      <label>Cama</label>
                      <input ng-model="study.internData.bed"  name="bed">
                    </md-input-container>
                    <md-input-container flex>
                      <label>Sala</label>
                      <input ng-model="study.internData.room"  name="room">
                    </md-input-container>
                </div>
              </div>
              <div layout="row">
                <md-input-container flex>
                  <label>Diagnostico</label>
                  <input ng-model="study.diagnostic"  name="diagnostic">
                </md-input-container>
                <md-input-container flex ng-if="isBioquimic">
                  <label>Muestras</label>
                  <input ng-model="study.shows"  name="shows">
                </md-input-container>
              </div>
        </md-content>
        <md-content class="md-padding" id="analisis">
          <ul>
            <li ng-repeat="analisys in analisysList">
                   <input type="checkbox" ng-if="analisys.selectable" ng-model="analisys.selected" />
                   <span ng-if="analisys.visible">{{analisys.name}}</span>
                    <span></span>
                     <ul>
                         <li ng-repeat="title in analisys.titles">
                             <input type="checkbox" ng-if="title.selectable" ng-model="title.selected" />
                             <span ng-if="title.visible">{{title.name}}</span>
                             <span></span>
                             <ul>
                                 <li ng-repeat="exam in title.exams">
                                  <input type="checkbox" ng-if="exam.selectable" ng-model="exam.selected"/>
                                     <ul ng-if="exam.visible">
                                        <li ng-repeat="e in exam.exams">
                                          <span >{{e.name}}</span>
                                        </li>
                                     </ul>
                                 </li>
                             </ul>
                         </li>
                     </ul>
              </li>
          </ul>
        </md-content>
        <div layout="row">
          <md-button type="button" class="md-primary" ng-click="save()" ng-disabled="newStudyForm.$invalid" layout-align="end center">
              Guardar
            </md-button>
          <span flex></span>
          <md-button type="button"  ng-click="cancel()">
            Cancelar
          </md-button>
        </div>
</md-whiteframe>
</form>
